@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: "Lato", serif;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", serif;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.center {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn-block {
    width: 100%;
}

.flash-message {
    color: crimson;
    text-align: center;
}
