.flash-reg-center {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 73%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}