{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
{{ super() }}
<div class="text-center center">
    <form class="form-signin" action="{{ url_for('login_form') }}" method="POST">
        <h1 class="h2 mb-5 font-weight-normal">Пожалуйста войдите</h1>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" name="email" class="form-control mb-2" placeholder="Email" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" name="psw" class="form-control mb-5" placeholder="Пароль" required="">

        <button class="btn btn-block btn-lg btn-primary mb-2" type="submit">Войти</button>

        <div class="center text-center flash">
            {% for msg in get_flashed_messages() %}
            <h3 style="color: crimson; text-align: center">{{msg}}</h3>
            {% endfor %}
        </div>

        <p class="text-center">Ещё нет аккаунта? <a href="/register">Зарегестрируйтесь!</a> </p>

    </form>
</div>

{% endblock %}