{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <script defer src="{{ url_for('static', filename='js/validation_form.js')}}"></script>
{% endblock %}
{% block content %}
{{ super() }}
<div class="text-center center">
    <form class="row needs-validation" action="{{ url_for('register_form') }}" method="POST" novalidate>
        <div class="col-12">
            <h1 class="h2 mb-5 font-weight-normal">Регистрация</h1>

            <p class="text-center">Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>

            <div class="mb-2">
                <label for="inputEmail" class="sr-only"></label>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required="" autofocus="">
                <div class="invalid-feedback">Требуется корректный email</div>
            </div>

            <div class="mb-2">
                <label for="inputNick" class="sr-only"></label>
                <input type="text" id="inputNick" name="nick" class="form-control" placeholder="Придумайте ник" required="">
                <div class="invalid-feedback">Введите ник</div>
            </div>

            <div class="mb-2">
                <label for="inputPassword" class="sr-only"></label>
                <input type="password" id="inputPassword" name="psw" class="form-control" placeholder="Пароль" required="">
                <div class="invalid-feedback">Введите пароль</div>
            </div>

            <div class="mb-3">
                <label for="inputPasswordRepeat" class="sr-only"></label>
                <input type="password" id="inputPasswordRepeat" name="psw-repeat" class="form-control" placeholder="Повторите пароль" required="">
                <div class="invalid-feedback">Введите пароль ещё раз</div>
            </div>

            <div class="mb-2">
                {% for msg in get_flashed_messages() %}
                <h3 class="flash-message btn-invalid">{{msg}}</h3>
                {% endfor %}
            </div>

            <button class="btn btn-block btn-lg btn-primary mb-2" type="submit">Зарегистрироваться</button>

            <p class="text-center">Уже есть аккаунт? <a href="/login">Войдите!</a> </p>
        </div>
    </form>
</div>
{% endblock %}