{% extends 'base.html' %}
{% block content %}
{{ super() }}

<form action="{{ url_for('register_form') }}" method="post">
    <div class="container">
        <h1>Регистрация</h1>
        <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
        <hr>

        <label><b>Email</b></label>
        <input type="text" placeholder="Email" name="email" required>
        <br>

        <label><b>Ваш ник</b></label>
        <input type="text" placeholder="Придумайте ник" name="nick" required>
        <br>

        <label><b>Пароль</b></label>
        <input type="password" placeholder="Пароль" name="psw" required>
        <br>

        <label><b>Повторите пароль</b></label>
        <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>

        <div class="flash">
            {% for msg in get_flashed_messages() %}
            <h3 style="color: crimson; text-align: center">{{msg}}</h3>
            {% endfor %}
        </div>

        <hr>

        <p>Создавая учетную запись, вы соглашаетесь с нашими <a href="#">Условия и конфиденциальность</a>.</p>
        <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>

    <div class="container signin">
        <p>Уже есть аккаунт? <a href="login">Войти</a>.</p>
    </div>
</form>

{% endblock %}